*{
	margin:0;
	padding:0;	
}

body {
	background:#FFFFFA;
}

.contenido {
	width:100%;
	margin:20px auto;
	text-align:justify;
}

.contenido p {
	margin-bottom: 1.25em;
	font-size: 1.25em;
	color: #484242;
}	

.ir-arriba {
	display:none;
	padding:20px;
	background:#024959;
	font-size:20px;
	color:#fff;
	cursor:pointer;
	position: fixed;
	bottom:20px;
	right:20px;
	z-index: 2;/*Para que quede el boton arriba pones z-index: 2; y 1 para quede debajo*/
}


@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?4ydlu0');
  src:  url('fonts/icomoon.eot?4ydlu0#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?4ydlu0') format('truetype'),
    url('fonts/icomoon.woff?4ydlu0') format('woff'),
    url('fonts/icomoon.svg?4ydlu0#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  
	
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-up2:before {
  content: "\ea3a";
}

	.calendario{					
		border-style:solid;/*Te hace un cuadro alrededor del texto*/				
		border-radius: 10px; /*Te pone el cuadro redondeado 10px*/				
		border-width: 1px; /*Te hacer el grosor del cuadro con 1 px*/				
		border-color: black; /*Te pone el borde del cuadro en rojo*/				
		margin-bottom: 40px; /*Te pone el marco separado de abajo 40px*/				
		margin-left: 10px;				
		margin-right: 10px;				
		padding: 20px 20px 20px 20px; /*Separa el texto del encabezado*/				
		color: #474747;				
		font-size: 20px; /*Te pone un tamaño de pixeles*/				
		text-align:justify; /*Te justifica el texto*/				
		/*text.aling: center;*//*Te centra el texto*/				
		column-count: 1; /*Sirve para poner el texto en columna Por defecto seria 2*/				
		-webkit-column-count: 1; /*Sirve para poner el texto en columna Por defecto seria 2*/				
		text-align:justify;				
		line-height:25px;/*Para separar las lineas y no quede el texto tan cerca*/				
	} 					
						
						
	.carrerarealizada{					
		background-image: url(../../images/carrerapasada.jpg);				
		background-repeat: no-repeat;				
		background-color: #CCC;				
		background-position:right;				
		font-size: 1.25em;				
						
		}				
						
.historia {						
		margin:auto;				
		width:auto;				
		height:auto;				
		border: 1 px solid black;				
		border: 1;				
		display:none;				
		}				
						
						
						
	.historia td{					
	border:1 px solid # 000;/*Crea un borde interior en negro*/					
	padding: 0.1px;					
	text-align:left;					
		}				
						
	.historia tr{					
		width: 1px;				
		height:1px;				
		border: 1 px solid black;				
		color: black;				
		background-color: white;				
		padding: 1px;				
		text-align:center;				
			}			

	div#InicioAncho{		
		position: relative;	
		width: 100%;	
		display: none;	
		border:1px solid transparent;	
	}		
			
	div#InicioAncho #slider {		
		border-radius: 10px;	
		border: 2px solid # 000;	
		margin: 0 auto;	
		margin-top: 5px;	
		margin-bottom: 50px;	
		min-height: 330px;	
		overflow: hidden;	
		padding: 0;	
		position: relative;	
		width: 95%;	
	}		
	div#InicioAncho #slider div.elemento {		
		left:0;	
		position:absolute;	
		top:0;	
		width: 100%;	
	}		
	div#InicioAncho #slider img {		
		border:0;	
		margin:0;	
		padding:0;	
		width: 100%;	
	}		
	div#InicioAncho #slider a{		
		text-decoration: none;	
	}		
	div#InicioAncho #slider p.gancho {		
		color: #DF7401;	
		display: block;	
		font-size: 1.4em;	
		font-weight: bolder;	
		line-height: 25px;	
		position: absolute;	
		right: 1%;	
		text-shadow: 2px 2px 3px white, -2px -2px 3px white;	
		top: 5%;	
		width: 29%;	
	}		
			
			
			
	.letrapc {		
		font-family: "Microsoft Sans Serif", "Times New Roman", Algerian;	
		font-size: 16px;	
		border-top-width: 1px;	
		border-right-width: 1px;	
		border-bottom-width: 1px;	
		border-left-width: 1px;	
		border-top-style: none;	
		border-right-style: none;	
		border-bottom-style: none;	
		border-left-style: none;	
		clip: rect(auto,auto,auto,auto);	
		text-align: left;	
	}		

	.clasificacion {					
			width:100%;			
			height: auto;			
			border: 1 px solid black;			
			display:none;			
			}			
						
						
		.clasificacion td{				
			width: auto;			
			height:auto;			
			border: 1 px solid black;			
			color: black;			
			padding: 5px;			
						
			}			
						
						
	.clasificacionsmarphones {					
			margin:auto;			
			width:auto;			
			height:auto;			
			border: 1 px solid black;			
			border: 1;			
			display:none;			
			}			
						
						
						
		.clasificacionsmarphones td{				
		border:1 px solid # 000;/*Crea un borde interior en negro*/				
		padding: 0.1px;				
		text-align:left;				
			}			
						
						
						
						
						
						
						
		.español {				
						
		background-image: url(../../images/espanya.jpg);				
	/*	background-image: url(../../images/carrerapasada.jpg);*/				
			background-repeat: no-repeat;			
	/*		background-color: #CCC;*/			
			background-position:right;			
			font-size: 1.00em;			
	}					
						
						
						
						
						
						
					
						
						
	header img{					
		width: 50px;				
		height: 50px;				
		transition-duration:0.5s;				
		-webkit-transition-duration:0.5s;				
		-moz-transition-duration: 0.5s;				
		-ms-transition-duration: 0.5s;				
		-o-transition-duration: 0.5s;				
	}					
						
	header img:hover{					
		cursor: pointer;				
		transform: scale(5);				
		-webkit-transform: scale(5);				
		-moz-transform: scale(5);				
		-ms-transform: scale(5);				
		-o-transform: scale(5);				
	}					
						
						
						
						
		.formula1ymotogp{				
						
		column-count: 2; /*Sirve para poner el texto en columna Por defecto seria 2*/				
		-webkit-column-count: 2; /*Sirve para poner el texto en columna Por defecto seria 2*/				
		-webkit-column-rule:0.5px dotted red;				
		text-align:center;				
		line-height:20px;/*20px*/				
						
			}			
						
			.moto{			
			column-count: 2; /*Sirve para poner el texto en columna Por defecto seria 2*/			
			-webkit-column-count: 2; /*Sirve para poner el texto en columna Por defecto seria 2*/			
			-webkit-column-rule: 0.5px dotted red;			
			text-align: center;			
			line-height: 15px;/*20px*/			
			color: #999;			
			padding-top:10px;			
			padding:10px;			
						
						
						
			}			
						
						
						
						
						
		.titulo {				
		text-align: center;				
		margin-top: 0px;				
		margin-right: auto;				
		margin-bottom: 200px;
		font-size: 2em;
		margin-left: auto;				
	}					


	.active-depor {
		background-color: rgba(181, 48, 48, 0.97);
	
	}
	
	
	ul.tabs {
	
		margin: 5px;
		padding-top: 0px;
		width: 100%;
		background: #fff;
		list-style: none;
		display: inline-flex;
		flex-wrap: wrap;
	}
	
	
	
	ul.tabs a {
	
		border: 1px solid #000;
	}
	
	
	
	ul.tabs a:hover {
	
		background-color: #4682B4;
	}
	
	
	ul.tabs li {
		width: 20%;
		/*	display: none;*/
	}
	
	
	ul.tabs li a {
		color: rgb(53, 166, 25);
		text-decoration: none;
		font: 14px Helvetica, Sans-Serif;
		text-align: center;
		display: block;
		padding: 5px 0px;
		/*font: bold 13px Helvetica, Sans-Serif; te poner la fuente en negrita*/
	}
	



	.titulo {
		text-align: center;
		margin-top: 0px;
		margin-right: auto;
		margin-bottom: 200px;
		margin-left: auto;
	}
	
	
	
	
	#linkpersonal {
		text-align: center;
		padding: 3em 0 0 0;
		/*background-color: #fff;*/
		background-image: url("images/bg02.png"), url("images/bg02.png"), url("images/bg01.png");
		background-position: top left, top left, top left;
		background-size: 100% 6em, 100% 6em, auto;
		background-repeat: no-repeat, no-repeat, repeat;
	}
	
	#linkpersonal h4 {
		/*padding: 0 0 2.75em 0;*/
		text-align: center;
		margin: 0;
	}
	
	#linkpersonal h4 a {
	
		font-size: 1.0em;
		letter-spacing: 0.025em;
		border: 0;
	}
	
	#linkpersonal h4 a:hover {
		background: rgba(181, 48, 48, 0.97);
		padding: 5px 15px 5px 15px;
	}
	
	
	
	#linkpersonal h3 {
		/*padding: 0 0 2.75em 0;*/
		text-align: center;
		margin: 0;
	}
	
	#linkpersonal h3 a {
	
		font-size: 1.0em;
		letter-spacing: -0.025em;
		border: 0;
	}
	
	
	#linkpersonal tr td {
		/*padding: 0 0 2.75em 0;*/
		text-align: center;
		margin: 0;
	}
	
	#linkpersonal tr td a {
	
		font-size: 1.0em;
		letter-spacing: -0.025em;
		border: 0;
	}
	
	#linkpersonal a {
	
		font-size: 1.0em;
		letter-spacing: -0.025em;
		border: 0;
	}
	
	
	
	.table_inicio img {
		display: none;
	}
	
	
	
	.linea {
		border-top: 1px solid black;
		height: 2px;
		max-width: 200px;
		padding: 0;
		margin: 10px auto 0 auto;
		padding: 10px;
	}
	
	
	
	
	em {
	color: white;
	/*background: #004a60;*/
	background: rgba(181, 48, 48, 0.97);
	;
	font-size: 20px;
	padding: 10px 10px 10px 10px;
	text-align: center;
}


html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {

	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	/*color: #37c0fb;*/

	/*color: #666;*/
	color: rgb(0, 0, 0);

	font-family: inherit;
	/*vertical-align: baseline;*/
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}
	

.enlaces {
	width: 100%;
	height: auto;
	border: 1 px solid black;
	border: 1;
	display: none;
	text-align: center;
}



.enlaces td {

	width: auto;
	height: auto;
	border: 1 px solid black;
	color: black;
	padding: 1px;
}
.enlacesmarphones {
	width: 100%;
	height: auto;
	border: 1 px solid black;
	border: 1;
	display: none;
	text-align: center;

}



.enlacesmarphones td {
	font-size: 24px;
	border: 1 px solid #000;
	/*Crea un borde interior en negro*/
	padding: 16px;
	text-align: center;
}




	/*si*/
	
	
	.historia {
		display: inline;
		color: #FFF;
	}	



	/* Tables */

table {
	border: 1px solid #ccc;
	width: 100%;
	height: auto;
	margin: 0;
	padding: 0;
	border-collapse: collapse;
	border-spacing: 0;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;

}


table tr {
	border: 1px solid #ddd;
	padding: 3px;
}

table th,
table td {
	padding: 5px;
	text-align: center;
}

table th {
	/*text-transform: uppercase;*/
	font-size: 14px;
	letter-spacing: 1px;
}

table tr:hover {
	background: #37c0fb
}

/*Te hace un marcador en todas las filas de color gris*/

table td:hover {
	background: white;
	/*background: #37c0fb;*/
	/*Te hace un marcador en  una sola columna de color azul  #024959 Este en verde*/
	color: #474747;
	/*Color amarillo*/
	font-size: auto;
}

/*Y un color en blanco de fuente*/


.table_podios_españoles th {
	font-size: 14px;
	color: #000000;
}

.table_podios_españoles td {
	font-size: 14px;
	color: #000000;
}


.table_inicio img {
	display: none;
}

.table_responsive td{
	font-size: 14px;
	color: #000000;
}

table {
	display: block;
	overflow-x: auto;
	white-space: nowrap;
}

table tbody {
	display: table;
	width: 100%;



}

.table_pantalla  td{
	margin-top: auto;
	font-size: 25px;
	width: auto;

}


@media (min-width: 1920px) and (max-width: 1936px){
	/*Pantalla Manolo 1920x919*/
	.categorias{
		width: 100%;
		display: inline-flex;
		flex-wrap: wrap;
		margin: 0px;
		padding: 0px;
		padding-left: 530px;
		margin-top: 0px;
		margin-bottom: 0px;
	}
	
	.categorias li{
		display: inline-flex;
		justify-content: center;
		flex-wrap: wrap;
		width: 100px;
		height: 35px;
		padding: 3px 0 0 0;
		margin: 4px 4px;
		background: #4682B4;
		background: -moz-linear-gradient(top, #22a74a 0%, #4682B4 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#87CEEB), color-stop(100%,#4682B4));
	 
		box-shadow: inset 0px 0px 6px #fff;
		-webkit-box-shadow: inset 0px 0px 6px #fff;
		border: 1px solid #62C2F9;
		border-radius: 10px;
	 
		font: bold 15px Helvetica, Sans-Serif;
		text-align: center;
		text-transform: uppercase;
		text-decoration: none;
		color: #3090C7;
		text-shadow: 0px 1px 2px #62C2F9;
	}
	
	
	.categorias li a:hover{
		color: #000;
	}
	
	.categorias li a  {
		color: #004a60;
	}
	div#InicioAncho {
		display: inline;
	}

	.table_responsive{
		
		margin-left: 65px;
		
	}
	.table_movil{
		display: none;
	}
	.link_enlaces{
	width: 95%;
}
.table_responsive td{
	font-size: 20px;
}

}
	

	@media (min-width: 1584px) and (max-width: 1600px){
		/*1600x1200*/
		.categorias{
			width: 100%;
			display: inline-flex;
			flex-wrap: wrap;
			margin: 0px;
			padding: 0px;
			padding-left: 440px;
			margin-top: 0px;
			margin-bottom: 0px;
		}
		
		.categorias li{
			display: inline-flex;
			justify-content: center;
			flex-wrap: wrap;
			width: 100px;
			height: 35px;
			padding: 3px 0 0 0;
			margin: 4px 4px;
			background: #4682B4;
			background: -moz-linear-gradient(top, #22a74a 0%, #4682B4 100%);
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#87CEEB), color-stop(100%,#4682B4));
		 
			box-shadow: inset 0px 0px 6px #fff;
			-webkit-box-shadow: inset 0px 0px 6px #fff;
			border: 1px solid #62C2F9;
			border-radius: 10px;
		 
			font: bold 15px Helvetica, Sans-Serif;
			text-align: center;
			text-transform: uppercase;
			text-decoration: none;
			color: #3090C7;
			text-shadow: 0px 1px 2px #62C2F9;
		}
		
		
		.categorias li a:hover{
			color: #000;
		}
		
		.categorias li a  {
			color: #004a60;
		}




		div#InicioAncho {
			display: inline;
		}
	
		.table_responsive{
			
			margin-left: 50px;
			
		}
		.table_movil{
			display: none;
		}
		.table_responsive{
			width: 100%;
			margin-left: 25px;
			
		}
		.table_responsive td{
			font-size: 20px;
		}
		}
	


@media (min-width: 1678px) and (max-width: 1680px){
	/*Pantalla Lg*/

	.categorias{
		width: 100%;
		display: inline-flex;
		flex-wrap: wrap;
		margin: 0px;
		padding: 0px;
		padding-left: 430px;
		margin-top: 0px;
		margin-bottom: 0px;
	}
	
	.categorias li{
		display: inline-flex;
		justify-content: center;
		flex-wrap: wrap;
		width: 100px;
		height: 35px;
		padding: 3px 0 0 0;
		margin: 4px 4px;
		background: #4682B4;
		background: -moz-linear-gradient(top, #22a74a 0%, #4682B4 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#87CEEB), color-stop(100%,#4682B4));
	 
		box-shadow: inset 0px 0px 6px #fff;
		-webkit-box-shadow: inset 0px 0px 6px #fff;
		border: 1px solid #62C2F9;
		border-radius: 10px;
	 
		font: bold 15px Helvetica, Sans-Serif;
		text-align: center;
		text-transform: uppercase;
		text-decoration: none;
		color: #3090C7;
		text-shadow: 0px 1px 2px #62C2F9;
	}
	
	
	.categorias li a:hover{
		color: #000;
	}
	
	.categorias li a  {
		color: #004a60;
	}

	

	div#InicioAncho {
		display: inline;
	}


	.table_responsive{
		
		margin-left: 45px;
		
	}
	
	.table_responsive td{
		font-size: 16px;
		color: #000;
		font-family: 'Source Sans Pro', sans-serif;
	}

		.table_movil{
			display: none;
		}
	}

	@media (min-width: 1424px) and (max-width: 1440px){
		/*1440x900*/
	
		.categorias{
			width: 100%;
			display: inline-flex;
			flex-wrap: wrap;
			margin: 0px;
			padding: 0px;
			padding-left: 430px;
			margin-top: 0px;
			margin-bottom: 0px;
		}
		
		.categorias li{
			display: inline-flex;
			justify-content: center;
			flex-wrap: wrap;
			width: 100px;
			height: 35px;
			padding: 3px 0 0 0;
			margin: 4px 4px;
			background: #4682B4;
			background: -moz-linear-gradient(top, #22a74a 0%, #4682B4 100%);
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#87CEEB), color-stop(100%,#4682B4));
		 
			box-shadow: inset 0px 0px 6px #fff;
			-webkit-box-shadow: inset 0px 0px 6px #fff;
			border: 1px solid #62C2F9;
			border-radius: 10px;
		 
			font: bold 15px Helvetica, Sans-Serif;
			text-align: center;
			text-transform: uppercase;
			text-decoration: none;
			color: #3090C7;
			text-shadow: 0px 1px 2px #62C2F9;
		}
		
		
		.categorias li a:hover{
			color: #000;
		}
		
		.categorias li a  {
			color: #004a60;
		}
		div#InicioAncho {
			display: inline;
		}
	
	
		.table_responsive{
			
			margin-left: 45px;
			
		}
		.table_movil{
			display: none;
		}
		.table_responsive{
			width: 100%;
			margin-left: 25px;
			
		}
		.table_responsive td{
			font-size: 20px;
		}
		}
		
	

		@media (min-width: 1384px) and (max-width: 1400px){
			/*1400x900*/

			.categorias{
				width: 100%;
				display: inline-flex;
				flex-wrap: wrap;
				margin: 0px;
				padding: 0px;
				padding-left: 430px;
				margin-top: 0px;
				margin-bottom: 0px;
			}
			
			.categorias li{
				display: inline-flex;
				justify-content: center;
				flex-wrap: wrap;
				width: 100px;
				height: 35px;
				padding: 3px 0 0 0;
				margin: 4px 4px;
				background: #4682B4;
				background: -moz-linear-gradient(top, #22a74a 0%, #4682B4 100%);
				background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#87CEEB), color-stop(100%,#4682B4));
			 
				box-shadow: inset 0px 0px 6px #fff;
				-webkit-box-shadow: inset 0px 0px 6px #fff;
				border: 1px solid #62C2F9;
				border-radius: 10px;
			 
				font: bold 15px Helvetica, Sans-Serif;
				text-align: center;
				text-transform: uppercase;
				text-decoration: none;
				color: #3090C7;
				text-shadow: 0px 1px 2px #62C2F9;
			}
			
			
			.categorias li a:hover{
				color: #000;
			}
			
			.categorias li a  {
				color: #004a60;
			}
			div#InicioAncho {
				display: inline;
			}
		
	
			.table_responsive{
				
				margin-left: 55px;
				
			}
			.table_responsive td{
				font-size: 20px;
			}
			
			.table_movil{
				display: none;
			}
		
			
		}	

			
			@media (min-width: 1334px) and (max-width: 1350px){
				/*1334x750*/
				.categorias{
					width: 100%;
					display: inline-flex;
					flex-wrap: wrap;
					margin: 0px;
					padding: 0px;
					padding-left: 435px;
					margin-top: 0px;
					margin-bottom: 0px;
				}
				
				.categorias li{
					display: inline-flex;
					justify-content: center;
					flex-wrap: wrap;
					width: 100px;
					height: 35px;
					padding: 3px 0 0 0;
					margin: 4px 4px;
					background: #4682B4;
					background: -moz-linear-gradient(top, #22a74a 0%, #4682B4 100%);
					background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#87CEEB), color-stop(100%,#4682B4));
				 
					box-shadow: inset 0px 0px 6px #fff;
					-webkit-box-shadow: inset 0px 0px 6px #fff;
					border: 1px solid #62C2F9;
					border-radius: 10px;
				 
					font: bold 15px Helvetica, Sans-Serif;
					text-align: center;
					text-transform: uppercase;
					text-decoration: none;
					color: #3090C7;
					text-shadow: 0px 1px 2px #62C2F9;
				}
				
				
				.categorias li a:hover{
					color: #000;
				}
				
				.categorias li a  {
					color: #004a60;
				}
				div#InicioAncho {
					display: inline;
				}
			

				.table_responsive{
				
					margin-left: 55px;
					
				}
				.table_responsive td{
					font-size: 20px;
				}
				
				.table_movil{
					display: none;
				}
			}

			@media (min-width: 1264px) and (max-width: 1280px){
				/*1280x720 Asus*/
				
.categorias{
	width: 100%;
	display: inline-flex;
	flex-wrap: wrap;
	margin: 0px;
	padding: 0px;
	padding-left: 320px;
	margin-top: 0px;
    margin-bottom: 0px;
}

.categorias li{
	display: inline-flex;
	justify-content: center;
	flex-wrap: wrap;
    width: 100px;
    height: 35px;
    padding: 3px 0 0 0;
    margin: 4px 4px;
    background: #4682B4;
    background: -moz-linear-gradient(top, #22a74a 0%, #4682B4 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#87CEEB), color-stop(100%,#4682B4));
 
    box-shadow: inset 0px 0px 6px #fff;
    -webkit-box-shadow: inset 0px 0px 6px #fff;
    border: 1px solid #62C2F9;
    border-radius: 10px;
 
    font: bold 15px Helvetica, Sans-Serif;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: #3090C7;
    text-shadow: 0px 1px 2px #62C2F9;
}


.categorias li a:hover{
	color: #000;
}

.categorias li a  {
    color: #004a60;
}
				

				div#InicioAncho {
					display: inline;
				}
			
	table {
		font-size: 15px;
	}

	table {
		display: block;
		overflow-x: auto;
		white-space: nowrap;
	}

	table tbody {
		display: table;
		width: 100%;



	}

	.table_campeonatos {
		display: block;
		max-width: 960px;

		overflow-x: auto;
		white-space: nowrap;
	}

				.table_responsive{
				
					margin-left: 15px;
					
				}


				
				.enlacesmarphones{
					display: none;
					
				}
				.table_responsive{
				
					margin-left: 55px;
					
				}
				.table_responsive td{
					font-size: 20px;
				}
				
				.table_movil{
					display: none;
				}


			}

			@media (min-width: 1136px) and (max-width: 1152px){
				/*1136x640*/
				.categorias{
					width: 100%;
					display: inline-flex;
					flex-wrap: wrap;
					margin: 0px;
					padding: 0px;
					padding-left: 320px;
					margin-top: 0px;
					margin-bottom: 0px;
				}
				
				.categorias li{
					display: inline-flex;
					justify-content: center;
					flex-wrap: wrap;
					width: 100px;
					height: 35px;
					padding: 3px 0 0 0;
					margin: 4px 4px;
					background: #4682B4;
					background: -moz-linear-gradient(top, #22a74a 0%, #4682B4 100%);
					background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#87CEEB), color-stop(100%,#4682B4));
				 
					box-shadow: inset 0px 0px 6px #fff;
					-webkit-box-shadow: inset 0px 0px 6px #fff;
					border: 1px solid #62C2F9;
					border-radius: 10px;
				 
					font: bold 15px Helvetica, Sans-Serif;
					text-align: center;
					text-transform: uppercase;
					text-decoration: none;
					color: #3090C7;
					text-shadow: 0px 1px 2px #62C2F9;
				}
				
				
				.categorias li a:hover{
					color: #000;
				}
				
				.categorias li a  {
					color: #004a60;
				}
				div#InicioAncho {
					display: inline;
				}
			

				.table_responsive{
				
					margin-left: 55px;
					
				}
				.table_responsive td{
					font-size: 20px;
				}
				
				.table_movil{
					display: none;
				}

			}
			@media (min-width: 1024px) and (max-width: 1040px){
				/*1024x600*/
				.categorias{
					width: 100%;
					display: inline-flex;
					flex-wrap: wrap;
					margin: 0px;
					padding: 0px;
					padding-left: 320px;
					margin-top: 0px;
					margin-bottom: 0px;
				}
				
				.categorias li{
					display: inline-flex;
					justify-content: center;
					flex-wrap: wrap;
					width: 100px;
					height: 35px;
					padding: 3px 0 0 0;
					margin: 4px 4px;
					background: #4682B4;
					background: -moz-linear-gradient(top, #22a74a 0%, #4682B4 100%);
					background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#87CEEB), color-stop(100%,#4682B4));
				 
					box-shadow: inset 0px 0px 6px #fff;
					-webkit-box-shadow: inset 0px 0px 6px #fff;
					border: 1px solid #62C2F9;
					border-radius: 10px;
				 
					font: bold 15px Helvetica, Sans-Serif;
					text-align: center;
					text-transform: uppercase;
					text-decoration: none;
					color: #3090C7;
					text-shadow: 0px 1px 2px #62C2F9;
				}
				
				
				.categorias li a:hover{
					color: #000;
				}
				
				.categorias li a  {
					color: #004a60;
				}

				div#InicioAncho {
					display: inline;
				}
			

				.table_responsive{
				
					margin-left: 15px;
					
				}
				.table_responsive{
				
					margin-left: 55px;
					
				}
				.table_responsive td{
					font-size: 20px;
				}
				
				.table_movil{
					display: none;
				}
			}
			@media (min-width: 629px) and (max-width: 645px){
				/*645x552*/
				.categorias{
					width: 100%;
					display: inline-flex;
					flex-wrap: wrap;
					margin: 0px;
					padding: 0px;
					padding-left: 110px;
					margin-top: 0px;
					margin-bottom: 0px;
				}
				
				.categorias li{
					display: inline-flex;
					justify-content: center;
					flex-wrap: wrap;
					width: 100px;
					height: 35px;
					padding: 3px 0 0 0;
					margin: 4px 4px;
					background: #4682B4;
					background: -moz-linear-gradient(top, #22a74a 0%, #4682B4 100%);
					background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#87CEEB), color-stop(100%,#4682B4));
				 
					box-shadow: inset 0px 0px 6px #fff;
					-webkit-box-shadow: inset 0px 0px 6px #fff;
					border: 1px solid #62C2F9;
					border-radius: 10px;
				 
					font: bold 15px Helvetica, Sans-Serif;
					text-align: center;
					text-transform: uppercase;
					text-decoration: none;
					color: #3090C7;
					text-shadow: 0px 1px 2px #62C2F9;
				}
				
				
				.categorias li a:hover{
					color: #000;
				}
				
				.categorias li a  {
					color: #004a60;
				}
				.table_inicio img {
					display: inline;
					width: 230px;
					margin-top: 25px;
				}

				.table_responsive{
				
					margin-left: 55px;
					
				}
				.table_responsive td{
					font-size: 20px;
				}
				
				.table_movil{
					display: none;
				}
				.enlacesmarphones{
					display: inline;
					margin-left: 10px;
				}			
				
			}

			@media (min-width: 400px) and (max-width: 720px){
				/*Redmi 11*/
				.categorias{
					width: 100%;
					display: inline-flex;
					flex-wrap: wrap;
					margin: 0px;
					padding: 0px;
					padding-left: 65px;
					margin-top: 0px;
					margin-bottom: 0px;
				}
				
				.categorias li{
					display: inline-flex;
					justify-content: center;
					flex-wrap: wrap;
					width: 100px;
					height: 35px;
					padding: 3px 0 0 0;
					margin: 4px 4px;
					background: #4682B4;
					background: -moz-linear-gradient(top, #22a74a 0%, #4682B4 100%);
					background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#87CEEB), color-stop(100%,#4682B4));
				 
					box-shadow: inset 0px 0px 6px #fff;
					-webkit-box-shadow: inset 0px 0px 6px #fff;
					border: 1px solid #62C2F9;
					border-radius: 10px;
				 
					font: bold 15px Helvetica, Sans-Serif;
					text-align: center;
					text-transform: uppercase;
					text-decoration: none;
					color: #3090C7;
					text-shadow: 0px 1px 2px #62C2F9;
				}
				
				
				.categorias li a:hover{
					color: #000;
				}
				
				.categorias li a  {
					color: #004a60;
				}
				
				.table_inicio img {
					display: inline;
					width: 260px;
					margin-top: 25px;
				}

				.table_responsive{
				
					margin-left: 55px;
					
				}
				.table_responsive td{
					font-size: 20px;
				}
				
				.table_movil{
					display: none;
				}
				
				}
			
	
	@media (min-width: 320px) and (max-width: 479px){
		.table_inicio img {
			display: inline;
			width: 430px;
			margin-top: 25px;
		}
		
		header img:hover {
		margin-right: 105px;
		}	
		.Eliga-any {
		margin: 20px;
		}
		
		#jumpMenu{
		width: 95%;
		margin: 20px;	
		}
		.table_responsive{
					
			display: none;
			
		}
		.enlacesmarphones{
			display: inline;
			margin-left: 10px;
		}
	
		}
	

